#btn-guardar {
  background-color: #71ae33;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
}

#btn-guardar:hover {
  background-color: white;
  color: #3c5721;
}

#btn-cancelar {
  background-color: #6799e7;
  box-shadow: 6px 6px 20px rgba(25, 25, 26, 0.89),
    -6px -1px 20px rgb(255, 251, 213);
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
}

#btn-cancelar:hover {
  background-color: white;
  color: #6799e7;
}
