#btn-guardar {
  background-color: #71ae33;
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
}

#btn-guardar:hover {
  background-color: white;
  color: #3c5721;
}

#btn-cancelar {
  background-color: #6799e7;
  transition: all 0.2s;
  color: white;
  border: none;
  border-radius: 1rem;
}

#btn-cancelar:hover {
  background-color: white;
  color: #6799e7;
}
